@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Vazir, sans-serif;
}
.Toastify__toast-body {
  font-family: "Vazir", sans-serif !important;
  direction: rtl;
}
